**/__pycache__/
/res/
*-info/
params.json

# Ignore everything inside data
/data/*

# Allow dataset folders to be visible to git
!/data/*/

# Keep metadata files
!/data/*/metadata.json
!/data/*/*pairs.npy
!/data/*/*ged_matrices.pt